*{
    font-family: 'Ubuntu', sans-serif;
    margin: 0px;
    padding: 0px;
}

nav{
    text-align: center;
    padding: 10px;
}
nav ul li{
    list-style: none;
} 

button{
    height: 2.5rem;
    width: 7rem;
    background-color: transparent;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    outline: none;
    font-size: 15px;
    border: 1px solid white;
}

.brand-name{
    color:white;
    font-size: 30px;
}

button:hover{
    cursor: pointer;
    width: 7.5rem;
    background-color: rgba(204, 191, 191, 0.911);
}